<div class="users">
    <form [formGroup]="userForm" (ngSubmit)="getTask()">

        <mat-form-field appearance="fill">
            <mat-label>Select User</mat-label>
            <mat-select formControlName="uid" required>
                <mat-option *ngFor="let user of users" [value]="user.uid">
                    {{user.name + "-" + user.email}} 
                </mat-option>
            </mat-select>
            <mat-error>Email selection is Required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Search</button>
    </form>

    <ng-container>
        <h2>Tasks Created By</h2>
        <div class="flex-row">
            <mat-card *ngFor="let task of createdTasks" class="task-card">
                <mat-card-header>
                    <mat-card-title>{{task.description}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Assigned To: </strong>{{task.assignedToName}}</p>
                    <p><strong>Status: </strong>{{task.done ? 'Completed' : 'Pending'}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>
    
    <ng-container>
        <h2>Tasks Assigned To</h2>
        <div class="flex-row">
            <mat-card *ngFor="let task of assignedTasks" class="task-card">
                <mat-card-header>
                    <mat-card-title>{{task.description}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Created by: </strong>{{task.createdByName}}</p>
                    <p><strong>Status: </strong>{{task.done ? 'Completed' : 'Pending'}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container> 
</div>
