<header class="app-header">
  <nav>
    <ul class="nav-links">
      <li *ngIf="isAuth"><a routerLink="/">Home</a></li>
      <li *ngIf="isAuth && !isMobile"><a routerLink="/create">Create</a></li>
      <li *ngIf="isAuth && isMobile"><a routerLink="/users">Users</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isAuth"><a routerLink="/signup">Sign Up</a></li>
      <li *ngIf="isAuth"><button (click)="logout()">Logout</button></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
